<? INC Header.tmpl ?>

<div class="container col-md-10 col-md-offset-1">
	<div class="panel panel-default">
		<div class="panel-heading">Webadmin</div>
			<div class="panel-body">
				<p>Hello there</p>
			</div>
	</div>
</div>
	
<? INC Footer.tmpl ?>